<!DOCTYPE html>
<html>
<head>
    <title>Student CRUD</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">

        <h2>Student Management System</h2>

        <form action="/add" method="POST">

            <input type="text"
                   name="name"
                   placeholder="Enter Name"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>

            <input type="text"
                   name="course"
                   placeholder="Enter Course"
                   required>

            <button type="submit">Add Student</button>

        </form>

        <h3>Student Records</h3>

        <table>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Action</th>
            </tr>

            <% students.forEach(student => { %>

            <tr>
                <td><%= student.id %></td>
                <td><%= student.name %></td>
                <td><%= student.email %></td>
                <td><%= student.course %></td>

                <td>
                    <a href="/delete/<%= student.id %>">
                        Delete
                    </a>
                </td>
            </tr>

            <% }) %>

        </table>

    </div>

</body>
</html>